.App {
  text-align: center;
  height: 100%;
  font-family: 'Lato', 'Roboto', sans-serif;
}

.App-header {
  padding: 2rem;
  color: #b2bd08;
}

.App-header-title {
  font-weight: 500;
  font-size: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.App-joypad-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1vw;
  padding-right: 1vw;
}

.App-button-container {
  margin: 0.25rem 0.25rem 0.25rem 0.25rem;
}

.App-button {
  display: inline-block;
  border-radius: 0%;
  background-color: #b2bd08;
  border-style: none;
  font-weight: 700;
  width: 6rem;
  height: 3rem;
  margin: 0.25rem;
}

.App-button:active {
  background-color: #4f5503;
  border-style: none;
}

.App-instructions {
  padding: 1rem;
  color: #b2bd08;
  font-weight: 500;
}

.App-score {
  padding: 1rem;
  color: #b2bd08;
  font-weight: 700;
}

#levelInput, #gameType {
  border-radius: 0px;
  background-color: #b2bd08;
  border-style: none;
  color: black;
}

#gameCanvas {
  width: 100%;
  max-width: 336px;
  max-height: 192px;
  border-style: solid;
  border-width: 0.5px;
  border-color: black;
  shape-rendering: crispEdges;
  background-color: #b2bd08;
}
